.try-container {
  display: flex;
  justify-content: center;
}

.try-container .box {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
